[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
web3 = "*"
py-solc = "*"
#eth-tester = "*"
eth-tester = {git = "https://github.com/KPrasch/eth-tester.git", ref = "ef4bb2fa793af8aa964b83536b20f525aa74d4e4"}
py-evm = ">=0.2.0a31"

[pipenv]
allow_prereleases = true

[scripts]
install-solc = "./scripts/install_solc.sh"
